body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
}

#message-container {
    text-align: center;
}